:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --color-bg-light: #ffffff;
}

/* Global - or Base */

body {
  color: var(--color-primary-dark);
}

ul {
  list-style-type: none;
}

/* Buttons */
.button-req {
  color: #faf4ea;
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
}

.button-req:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

/*links*/
.link {
  text-decoration: none;
  color: var(--color-primary-light);
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
  color: var(--color-brand-light);
}

/*hero section*/
.hero-title {
  color: var(--color-primary-light);
}

.hero-title .accent {
  color: var(--color-brand-light);
}

/*advantages section*/
.advantages-list {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
}

.section-title {
  color: var(--color-primary-dark);
}

.section-title .accent {
  color: var(--color-brand-dark);
}
