.button {
  display: block;
  padding: 16px 32px;
  color: #faf4ea;
  background-color: var(--color-brand-normal);
  border: 2px solid var(--color-brand-normal);
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  transition: color, 0.3s;
}

.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}
