.link {
  text-decoration: none;
  color: var(--color-primary-light);
  line-height: 1.5;
  font-weight: 400;
}

.link:hover {
  text-decoration: underline;
  color: var(--color-brand-normal);
  /* font-weight: 600; */
}
