.footer {
  padding: 32px 0;
  position: relative;
  background-color: var(--color-primary-dark);
  background-image: url(../images/footer-background.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.footer::before,
.footer::after {
  position: absolute;
  bottom: 0;
  content: '';
}

.footer::before {
  width: 180px;
  height: 120px;
  bottom: 0;
  background-image: url('../images/decor-bread-small.svg');
  background-repeat: no-repeat;
}

.footer::after {
  width: 380px;
  height: 190px;
  right: 0;
  background-image: url('../images/decor-bread-large.svg');
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer-address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
  margin-top: 0;
}

.address-list,
.address-info {
  margin-top: 0;
  flex-grow: 1;
}

.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 400;
}

.address-link:hover {
  color: var(--color-brand-normal);
}

.address-icon {
  fill: var(--color-primary-light);
}

.address-icon:hover {
  fill: var(--color-brand-normal);
}

.address-copyright {
  font-size: 14px;
  color: var(--color-primary-light);
}