@use '../utils/variables' as vars;
.header {
  /* background-color: lightgray; delete after */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 16px;

  @media screen and (min-width: vars.$bp-desktop) {
    padding-top: 32px;
  }

  &__container {
    display: flex;
    gap: 40px;
  }

  &__nav {
    display: flex;
    flex-grow: 1;
    gap: 40px;
  }

  &__menu {
    display: none;

    @media screen and (min-width: vars.$bp-desktop) {
      display: flex;
      gap: 64px;
      flex-grow: 1;
      justify-content: center;
    }
  }

  &__button {
    display: none;

    @media screen and (min-width: vars.$bp-desktop) {
      display: block;
    }
  }

  &__burger {
    height: 24px;
    width: 24px;
    padding: 0;
    background-color: transparent;
    border: none;
    fill: var(--color-primary-light);
    @media screen and (min-width: vars.$bp-desktop) {
      display: none;
    }
  }
}
