@use '../utils/variables' as vars;

.traditions-section {
  padding-top: 40px;

  @media screen and (min-width: vars.$bp-tablet) {
    padding-top: 96px;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
  }

  &__content {
    max-width: 710px;
  }

  &__title {
    margin-bottom: 42px;
  }

  &__text {
    &--limited {
      max-width: 390px;
    }
  }

  &__image {
    display: none;
    border-radius: 480px 400px 0px 0px;

    @media screen and (min-width: vars.$bp-tablet) {
      display: block;
    }
  }
}
